<div class="expItem">
    <img class="expItem__image" src="images/expItem1.png" />
    <h3 class="expItem__title">
        <%= item.title %>
    </h3>
    <p class="expItem__text">
        <%= item.text %>
    </p>
</div>