
    <% include Logo %>
    <div class="col-auto ml-auto hamburgerMenu" id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">

            <% tajamDB.navItems.forEach((item, index) => { %>
                <% if(index == 0) { %>
                    <li class="hamburgerMenu__links hamburgerMenu__links-active">
                            <%= item %>
                    </li>
                <% } else { %>
                    <li class="hamburgerMenu__links"><a style="color: initial;" href="#"><%= item %></a></li>
                <% } %>
            <% }) %>
        </ul>
    </div>
