<div class="teamItem border">
    <img class="teamItem__image img-fluid">
    <div class="teamItem__info">
        <h5 class="teamItem__name">
            <%= person.name %>
        </h5>
        <h5 class="teamItem__position">
            <%= person.position %>
        </h5>
    </div>
</div>