<div class="textContent">
    <h3 class="textContent__title">
        <%= title %>
    </h3>

    <% paragraphs.forEach((paragraph) => { %>
        <p class="textContent__content">
            <%= paragraph %>
        </p>
    <% }) %>

</div>
    


