<div class="container-fluid page-container footer-container">
    <div class="container">

       <div class="row">
          <div class="col-12 my-4 my-md-0 col-md-6 col-lg-4">
               <div class="d-flex mb-3 mb-md-0 align-items-center">
                     <% include components/Logo %>
               </div>
             <div class="footer-block">
                <p class="footer-block__text">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                   ut aliquip ex ea commodo consequat.
                </p>
             </div>
          </div>

          <div class="col-12 my-4 my-md-0 col-md-6 col-lg-4">  
             <div class="d-flex align-items-center">
                  <h4 class="footer-title">our studio</h4>
             </div>
             <div class="footer-block">
                <span>
                <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="footer-block__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>
                <i class="fas fa-phone"></i>
                <span>
                (+62) 21-4253 5164
                </span>
             </div>
          </div>

          <div class="col-lg-4 border col-md-12 d-flex">
            <div class="my-4 my-md-0 d-flex align-items-center">
               <h4 class="footer-title">stay in touch</h4>
            </div>
             <!-- <div class="footer-block">
                <div class="row border">
                   <div class="col-12 border">
                      <div class="footer-block__form d-flex align-items-center">
                         <input placeholder="Subscribe our newsletter" class="footer-block__input h-100" />
                         <button class="footer-block__button">
                         <i class="fab fa-telegram-plane"></i>
                         </button>
                      </div>
                   </div>
                   <div class="col-12 border">
                      <div class="footer-block__socials">
                         <div class="footer-block__social-icon">
                            <i class="fab fa-facebook-f"></i>
                         </div>
                         <div class="footer-block__social-icon">
                            <i class="fab fa-twitter"></i>
                         </div>
                         <div class="footer-block__social-icon">
                            <i class="fab fa-dribbble"></i>
                         </div>
                         <div class="footer-block__social-icon">
                            <i class="fab fa-instagram"></i>
                         </div>
                         <div class="footer-block__social-icon">
                            <i class="fab fa-google-plus-g"></i>
                         </div>
                         <div class="footer-block__social-icon">
                            <i class="fab fa-youtube"></i>
                         </div>
                      </div>
                   </div>
                </div>
             </div> -->
          </div>

       </div>
       <div class="row pt-5">
          <div class="col-12 col-md-5 d-flex align-items-center justify-content-between">
             <h4 class="footer-tag">help</h4>
             <h4 class="footer-tag">terms & condition</h4>
             <h4 class="footer-tag">privacy</h4>
          </div>
          <div class="col-12 pt-5 col-md-5 d-flex align-items-center ml-auto">
             <h4 class="footer-tag">Copyright 2015 - Tajam Creative</h4>
          </div>
       </div>
    </div>
 </div>